.blog-crv .item {
	display: flex;
	align-items: center;
	height: 100%;
}
.block-sec .testim-box .slick-dots li button {
	display: block;
	opacity: 0;
	width: 0;
	height: 0;
}
.slider .social-icon a {
	margin: 0 3px;
}
.navbar .navbar-nav .nav-link,
.video .vid .vid-butn .icon,
.video-wrapper .vid .vid-butn .icon {
	cursor: pointer;
}
.block-sec .vid-area {
	z-index: 99;
}
.div-tooltip-tit,
.div-tooltip-sub {
	display: block;
	padding: 0;
}
section.testimonials {
	overflow: hidden;
}
.contact-page .pages-header {
	overflow: hidden;
}
div#ieatmaps iframe {
	width: 100%;
	height: 100%;
	border: 0;
}
button.nb {
	background: transparent;
	color: #fff;
	cursor: pointer;
}

button.nb:hover {
	background: #fff;
	color: #222;
}
.replay {
	cursor: pointer;
}

.pace-done #preloader:after {
	bottom: 0;
}
#preloader {
	top: 0;
	left: 0;
}

.pace-done #preloader {
	visibility: hidden;
	-webkit-transition-delay: 1.5s;
	-o-transition-delay: 1.5s;
	transition-delay: 1.5s;
}
.pace-done #preloader:after,
.pace-done #preloader:before {
	height: 0;
	-webkit-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
	-o-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
	transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
	-webkit-transition-delay: 1s;
	-o-transition-delay: 1s;
	transition-delay: 1s;
}
body.hideX #preloader {
	display: none !important;
	z-index: -1111111;
	height: 0;
	width: 0;
	overflow: hidden;
}
body.hideX .pace {
	display: none !important;
	background-color: transparent;
}
.app-footer .social a {
	margin-right: 4px;
}

.collapsible-link {
	width: 100%;
	position: relative;
	text-align: left;
}

.collapsible-link::before {
	content: "\f107";
	position: absolute;
	top: 50%;
	right: 0.8rem;
	transform: translateY(-50%);
	display: block;
	font-family: "FontAwesome";
	font-size: 1.1rem;
}

.collapsible-link[aria-expanded="true"]::before {
	content: "\f106";
}

.custom--accordion {
	border: 0 !important;
	.accordion-item {
		margin: 20px 0;
	}
	.accordion-body {
		padding-bottom: 15px;
		font-size: 20px;
	}
	.accordion-header button {
		color: white;
		font-size: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100% !important;
		background-color: rgba(255, 255, 255, 0.01);
		text-align: left;
		border: 0 !important;
		border: 2px solid rgb(255, 255, 255);
		padding: 10px 30px;
		&:focus {
			outline: none;
		}
		&[aria-expanded="false"] .plus-icon {
			transform: rotate(0deg);
			transition: all 0.5s;
			font-size: 45px;
		}
		&[aria-expanded="true"] .plus-icon {
			transition: all 0.5s;
			transform: rotate(45deg);
			font-size: 48px;
		}
		.plus-icon {
			background-image: linear-gradient(
				to right,
				#a04468 0%,
				#f45483 100%
			);
			background-size: 100%;
			background-repeat: repeat;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-size: 45px;
			font-weight: 200;
		}
	}
}

.custom--border-top {
	width: 100%;
	height: 2px;
	margin-bottom: 30px;
	background-image: linear-gradient(
		45deg,
		hsla(263, 21%, 37%, 1) 7%,
		hsla(337, 40%, 45%, 1) 50%,
		hsla(342, 88%, 64%, 1) 100%
	);
}

.sub-title {
	margin-top: 20px;
}

.custom--feature-box {
	height: 410px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

.custom--btn {
	background-image: linear-gradient(
		45deg,
		hsla(263, 21%, 37%, 1) 7%,
		hsla(337, 40%, 45%, 1) 50%,
		hsla(342, 88%, 64%, 1) 100%
	);

	color: #fff;
	border: 0 !important;
	&:hover {
		color: #fff !important;
		background-image: linear-gradient(
			45deg,
			hsla(263, 21%, 37%, 1) 7%,
			hsla(337, 40%, 45%, 1) 50%,
			hsla(342, 88%, 64%, 1) 100%
		) !important;
		opacity: 0.8;
	}
	&:focus {
		outline: none;
	}
}

.navbar {
	.navbar-collapse {
		.nav-item:hover .nav-link {
			color: #f45483 !important;
		}
	}
	.logo img {
		width: 170px;
		height: 50px;
	}
}

.navbar-toggler:focus {
	outline: none !important;
}

footer {
	.item {
		.logo {
			margin-bottom: 20px;
			img {
				width: 170px !important;
				height: 50px;
			}
		}
	}
	.copy-right {
		margin-top: 0 !important;
	}
}

@media screen and (max-width: 992px) {
	.navbar {
		background-color: #1b1d21;
		border-bottom: 2px solid #333538;
		.navbar-collapse {
			background-color: #1b1d21 !important;
		}
	}

	footer .container .row .item-group-1 .item {
		display: flex;
		flex-direction: column;
		align-items: center;

		ul li {
			justify-content: center;
			text-align: center;
			margin: 0 auto 25px;
		}
	}
}

@media screen and (max-width: 768px) {
	footer .container .row .item-group-2 {
		flex-direction: column;
		text-align: center;
		ul li {
			justify-content: center;
			margin: 0 auto 25px;
		}

		.col-lg-6:first-child {
			margin-bottom: 41px;
		}
	}
}

@media screen and (max-width: 425px) {
	.hero-container .mobile-container img {
		width: 100% !important;
	}
}
